<form phx-submit="filter-by-name" id={@id} class="pt-2 relative mx-auto text-gray-600">
  <input id="input" class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
    type="search" name="name" placeholder="Search" autofocus autocomplete="off" value={@name}>
  <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
  </button>
</form>