<div class="container max-w-4xl mx-auto">
  <h2 class="text-4xl tracking-tight font-extrabold text-indigo-500 ">
    <span class="block">
      Will you stay out of this?</span>
    <span class="block">
      Take a look at our promotions.</span>
  </h2>
  <.live_component module={Items} id="items-component" />
</div>